.favorite{

    height: 100vh;
    background-color: rgb(42, 68, 68);


    .container{

        .row{
            .col-4{
                margin-top: 20px;
                background-color: rgb(116, 152, 167);

            }
        }
    }




}